html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1%;
}

.top {
    display: flex;
    gap: 1%;
    height: 14%;
}
.header {
    display: flex;
    flex: 1 0 25%;
    background: black;
    color: white;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.menu {
  background: red;
  color: white;
  flex: 1 0 75%;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  background: blue;
  color: white;
  height: 45%;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle {
  display: flex;
  gap: 25%;
  height: 29%;
}

.main {
  background: black;
  color: white;
  flex: 1 0 50%;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 1%;
  flex: 1 0 25%;
}
.image {
  background: lightcyan;
  color: black;
  flex: 1 0 48%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extra {
  background: green;
  color: black;
  flex: 1 0 48%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  background: yellow;
  height: 10%;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
    .container,
    .top,
    .middle,
    .side {
        flex-direction: column;
        flex-wrap: nowrap;      
        gap: 5px;               
    }
}
